
header{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

header mat-toolbar{
  display: inherit;
  justify-content: space-between;
}

.btns{
  display: flex;
  column-gap: 5rem;
}

.logout {
  transition: .5s;
}

.logout:hover {
  scale: 1.1;
}
