<form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
  <mat-card appearance="outlined" *ngIf="toggleForm">
    <mat-card-title>Faça login.</mat-card-title>
    <mat-form-field>
      <mat-label>your email:</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>your password:</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>

    <mat-card-actions>
      <button
        (click)="toggleForm = !toggleForm"
        mat-raised-button
        color="warn"
        type="button"
      >
        cadastre-se
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        login
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- REGISTER FORM -->
<form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
  <mat-card appearance="outlined" *ngIf="!toggleForm">
    <mat-card-title>Cadastre-se.</mat-card-title>

    <mat-form-field>
      <mat-label>your name:</mat-label>
      <input formControlName="name"  matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>your email:</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>your password:</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>

    <mat-card-actions>
      <button
        (click)="toggleForm = !toggleForm"
        mat-raised-button
        color="warn"
        type="button"
      >
        Faça login.
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Cadastrar.
      </button>
    </mat-card-actions>
  </mat-card>
</form>
