:host{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
} */

mat-card {
  row-gap: 1rem;
  width: 45vw;
  padding: 2rem;
}

mat-card-actions{
  justify-content: space-between;
}
