<form [formGroup]="todoForm" (ngSubmit)="addTask()">
  <section>
    <h1>Adicionar tarefa.</h1>

    <mat-form-field appearance="outline">
      <mat-label>Titulo para tarefa.</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Desrição da sua tarefa.</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="todo-btns">
      <button color="primary" mat-raised-button type="submit">Adicionar tarefa.</button>
      <button (click)="closeDialog()" mat-raised-button type="button" color="warn"> Cancelar</button>
    </div>
  </section>
</form>


