<form [formGroup]="todoForm">
  <section>
    <h1>Add Task.</h1>

    <mat-form-field appearance="outline">
      <mat-label>Name to task</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>description your task</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="todo-btns">
      <button color="primary" mat-raised-button type="submit"> adicionar tarefa</button>
      <button mat-raised-button type="button" color="warn"> Cancelar</button>
    </div>
  </section>
</form>
